<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Pastexil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="../../public/icon.png" type="image/icon type" />
  </head>
  <body
    class="bg-gradient-to-b from-white to-appMidPurple bg-cover h-full w-full"
  >
    <div class="flex mr-8 mt-8 ml-8 flex-col h-screen">
      <slot />
    </div>
  </body>
</html>
