<!doctype html>
<html lang="en">
  <head> </head>
  <body
    class="bg-gradient-to-b from-white to-appMidPurple bg-cover h-full w-full"
  >
    <div class="flex mr-8 mt-8 ml-8 flex-col h-screen">
      <slot />
    </div>
  </body>
</html>
